/* fazer uma estilização simples da barra de navegação */ 

.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.body {
    padding-top: 70px;
}

.listaNav{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 10px;
    list-style: none;
}

li {
    font-size: 19px;
}

/* estilização dos links da navBar */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

