.containerPro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 150px;
}

.containerPro p {
    margin-top: 100px;
}

.containerPro img {
    width: 50%;
    height: auto;
    max-width: 500px;
}
